<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- Tlačítko pro přepnutí na 'todo' tab -->
    <ion-tab-button tab="todo" routerLink="/tabs/todo">
      <ion-icon aria-hidden="true" name="checkbox-outline"></ion-icon>
      <ion-label>Todo</ion-label>
    </ion-tab-button>

    <!-- Tlačítko pro přepnutí na 'notepad' tab -->
    <ion-tab-button tab="notepad" routerLink="/tabs/notepad">
      <ion-icon aria-hidden="true" name="chatbox-outline"></ion-icon>
      <ion-label>Notepad</ion-label>
    </ion-tab-button>

    <!-- Tlačítko pro přepnutí na 'event-planner' tab -->
    <ion-tab-button tab="event-planner" routerLink="/tabs/event-planner">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Event Planner</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
